.container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 52rem;
   margin: auto;
}

button {
   height: 2rem;
   border-radius: 50%;
   border: none;
   cursor: pointer;
}
button:hover {
   background-color: orange;
}

.btn-left {
   z-index: 1;
   margin: -1rem;
   display: none;
}
.displayLeft {
   display: block;
}
.btn-right {
   margin: -1rem;
}
.removeRight {
   display: none;
}

.cardContainer {
   border-radius: 5px;
   width: 48rem;
   display: flex;
   justify-content: flex-start;
   background-color: green;
   overflow-x: scroll;
   overflow-x: hidden;
   white-space: nowrap;
   scroll-behavior: smooth;
}

.cards {
   min-width: 12rem;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.image {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   width: 100%;
}

.movieName {
   font-size: 0.575rem;
   color: white;
   width: 100%;
}

.movieInfo {
   font-size: 0.475rem;
   width: 100;
   color: white;
}
